.secao {
    display: grid;
    align-items: end;
    row-gap: 2rem;
}

.secao-horizontal, 
.secao-vertical {
    grid-template-rows: 70px auto;
}

/* Auto-fit sempre põe os elementos no mesmo PX */
.secao-horizontal .secao__cartoes {
    display: grid;
    /* FOI NESSE MINMAX QUE ERREI */ 
    grid-template-columns:  repeat(auto-fit, minmax(min(80%/2, max(350px, 80%/3)), 1fr)); /* Cada Container com 40%, container com +/- 26% */
    gap: 1.25 rem;
}

.secao-vertical{
    grid-template-columns: 1fr auto; /* Uma coluna graaaande e outra pequenininha*/
}

.secao-vertical .secao__cartoes {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-column: 1/3;
    column-gap: 1.25em;
}

.secao-vertical .secao_cartoes .cartao a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.secao-vertical .secao__cartoes .cartao__titulo{
    flex-grow: 1;
}

.secao__cartoes{
    display: grid;
    gap: 20px 35px; 
}